body {
  background-color: rgb(155, 232, 235);
  margin: auto;
  padding: 0px;
  text-align: center;
}
/* Navbar opmaak */
#navbar {
  background-color: rgb(155, 232, 235);
  padding: 5px;
  color: white;
  text-align: center;
}

.hnav {
  display: inline;
}

nav p {
  display: inline;
  padding-left: 5px;
}

/* grids indelen */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 20px;
}

#werk {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

#werk ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#werk li {
  flex-basis: calc(33.33% - 10px);
  padding-right: 10px;
  margin-bottom: 10px;
}

#school {
  grid-area: sidebar;
}

#hobby {
  grid-area: sidebar1;
}

#technisch {
  grid-area: footer1;
}

#over-mij {
  grid-area: main1;
}

div {
  text-align: left;
}

div h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.container>div {
  background-color: rgb(40, 194, 199);
  padding: 15px;
  text-align: left;
}

.container {
  grid-template-areas:
    "main1 sidebar1 footer1"
    "main main sidebar";
}

/* Opmaak footer */
footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Maakt website responsive */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "main1"
      "sidebar1"
      "footer1"
      "main"
      "sidebar";
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
}